.parent-wrapper{
    background-color:#1E90FF;
    padding-top: 10px;
    .heading-wrapper{
        .heading-row{
            color: white;
            text-align:left;
            margin-bottom: 10px;
        }
    }
}